.address-container {
  text-align: center; /* Center child elements, including QR code */
}

/* Default to long format for PC browsers */
.wallet-address-long {
  display: block;
}

.wallet-address-short {
  display: none;
}

/* Switch to short format for mobile devices */
@media (max-width: 600px) {
  .wallet-address-long {
    display: none;
  }

  .wallet-address-short {
    display: block;
  }
}

.qr-code-container {
  display: inline-block; /* Ensure it doesn't span the full width */
  cursor: pointer;
}

.qr-code-instruction {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

.qr-code-container:hover {
  opacity: 0.8;
}

.switch-address-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.switch input[type="radio"] {
  display: none;
}

.switch label {
  flex: 1;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  cursor: pointer;
  z-index: 1;
}

.switch input#bch:checked + label {
  color: white;
}

.switch input#slp:checked + label {
  color: white;
}

.switch .toggle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 16px;
  background-color: green;
  border-radius: 8px;
  transition: left 0.3s ease-in-out;
}

.switch input#slp:checked ~ .toggle {
  left: 42px;
}

.address-display {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
