.options-container {
}

.options-select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.options-select:disabled {
  background-color: #f5f5f5;
  color: #ccc;
  cursor: not-allowed;
}

